@font-face {
   font-family: 'MyFont';
   src:  url('./hightyde.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
  }

.hello{
  color:red;
  /*background: url('./chq.png');*/
  font-family: 'MyFont'
}
